*{
    margin: 0;
    padding: 0;
}
header{
    background: cyan;
    color: black;
}
h1{
    position: relative;
    left: 150px;
}
hr{
    color: #00Afff;
}
main, footer, form, h2{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
#img{
    position: relative;
    left: 200px;
}